<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<script type="text/javascript" src="/static/common.js"></script>
<script type="text/javascript" src="/static/js/util/bill.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/util/bill.css" />
<script type="text/javascript">
	$(document).ready(function() {
		getMenuTreeLoadDom();
	});
</script>
<title>账本</title>
</head>
<body class="layui-layout-body">
	<div class="layui-layout layui-layout-admin">
		<div class="layui-header">
			<div class="layui-logo">
				<i class="layui-icon layui-icon-home" style="font-size: 20px; color: #1E9FFF;"></i>
				<a href='/'>sujianan.cn</a>
			</div>
			<ul class="layui-nav layui-layout-left">
				<li class="layui-nav-item">
					<button type="button" class="layui-btn layui-btn-sm layui-btn-radius" onclick="showMenuOrHide();">菜单隐藏/显示</button>
				</li>
			</ul>
			<ul class="layui-nav layui-layout-right" id="menu_top_right_ul">
			</ul>
		</div>
		<div class="layui-side layui-bg-black layui-bg-black2" id="menu_left">
			<div class="layui-side-scroll layui-bg-black2">
				<ul class='layui-nav layui-nav-tree layui-bg-black2' lay-filter='' id="menu_left_nav_ul">
				</ul>
			</div>
		</div>
		<!-- 内容主体区域 -->
		<div class="layui-body">
			<div style="padding: 15px;">
				<div class="bigDiv">
				<div class="bigDiv_leftDiv">
					<ul class="nav nav-tabs nav-stacked" role="tablist">
						<li role="presentation" class="active"><a href="#show1"
							class="glyphicon glyphicon-book" aria-controls="home" role="tab"
							data-toggle="tab" onclick="findAccountHistoryList();">历史账单</a></li>
						<li role="presentation"><a href="#show2"
							class="glyphicon glyphicon-pencil" aria-controls="profile"
							role="tab" data-toggle="tab">记一笔</a></li>
						<li role="presentation"><a href="#show3"
							class="glyphicon glyphicon-signal" aria-controls="messages"
							role="tab" data-toggle="tab">报表</a></li>
						<li role="presentation"><a href="#show4"
							aria-controls="settings" role="tab" data-toggle="tab">设置</a></li>
					</ul>
				</div>

				<div class="tab-content bigDiv_rightDiv">
					<!-- 账单历史list -->
					<div role="tabpanel" class="tab-pane active" id="show1">
						<table class="table table-hover table-striped">
							<thead>
								<tr>
									<th>序号</th>
									<th>收支类型</th>
									<th>原因类型</th>
									<th>金额(人民币/元)</th>
									<th>时间</th>
									<th>备注</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody id="bill_tbody">
							</tbody>
							<tfoot id="bill_tfoot">
							</tfoot>
						</table>
					</div>

					<!-- 记一笔div -->
					<div role="tabpanel" class="tab-pane" id="show2">
						<form class="form-horizontal">
							<div class="form-group">
								<label class="col-sm-4 control-label">收支类型</label>
								<div class="col-sm-2">
									<select id="budget_type" class="form-control">
										<option value="budget_type_1">收入</option>
										<option value="budget_type_2" selected>支出</option>
									</select>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-4 control-label">原因类型</label>
								<div class="col-sm-2">
									<select id="reason_type" class="form-control">
										<option value="reason_type_0">工资奖金</option>
										<option value="reason_type_1">吃喝玩乐</option>
										<option value="reason_type_2">出行通信</option>
										<option value="reason_type_3">人情世故</option>
										<option value="reason_type_4">借钱还钱</option>
										<option value="reason_type_5">投资</option>
										<option value="reason_type_6">医疗健身</option>
										<option value="reason_type_7">教育培训</option>
										<option value="reason_type_other" selected>其他</option>
									</select>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-4 control-label">金额(人民币/元)</label>
								<div class="col-sm-4">
									<input id="money" class="form-control" type="number">
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-4 control-label">时间</label>
								<div class="col-sm-4">
									<input id="event_time" class="form-control" type="date">
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-4 control-label">备注</label>
								<div class="col-sm-4">
									<textarea id="comments" rows="" cols="" class="form-control"></textarea>
								</div>
							</div>
							</br> </br> </br> </br> </br>
							<div class="form-group">
								<div class="col-sm-10" align="center">
									<a id="commit" type="button" class="btn btn-default"
										onclick="commit();" value="提交">提交</a>
								</div>
							</div>
						</form>
					</div>
					<div role="tabpanel" class="tab-pane" id="show3">报表</div>
					<div role="tabpanel" class="tab-pane" id="show4">设置</div>
				</div>
			</div>
			</div>
		</div>
		<!-- 底部固定区域 -->
		<div class="layui-footer">
			<p style="text-align: center;">Copyright ©2019 sujianan.cn All Rights Reserved.</p>
		</div>
	</div>
</body>
</html>