<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sujianan.dao.util.BillMapper">
  <resultMap id="BaseResultMap" type="com.sujianan.bean.util.Bill">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="USERID" jdbcType="DECIMAL" property="userid" />
    <result column="BUDGET_TYPE" jdbcType="VARCHAR" property="budgetType" />
    <result column="REASON_TYPE" jdbcType="VARCHAR" property="reasonType" />
    <result column="MONEY" jdbcType="DECIMAL" property="money" />
    <result column="EVENT_TIME" jdbcType="TIMESTAMP" property="eventTime" />
    <result column="COMMENTS" jdbcType="VARCHAR" property="comments" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="CREATE_USER" jdbcType="DECIMAL" property="createUser" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, USERID, BUDGET_TYPE, REASON_TYPE, MONEY, EVENT_TIME, COMMENTS, CREATE_TIME, CREATE_USER
  </sql>
  <select id="selectByExample" parameterType="com.sujianan.bean.util.BillExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from T_BILL
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_BILL
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from T_BILL
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.sujianan.bean.util.BillExample">
    delete from T_BILL
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sujianan.bean.util.Bill">
    insert into T_BILL (ID, USERID, BUDGET_TYPE, 
      REASON_TYPE, MONEY, EVENT_TIME, 
      COMMENTS, CREATE_TIME, CREATE_USER
      )
    values (sequence_t_bill_id.nextval, #{userid,jdbcType=DECIMAL}, #{budgetType,jdbcType=VARCHAR}, 
      #{reasonType,jdbcType=VARCHAR}, #{money,jdbcType=DECIMAL}, #{eventTime,jdbcType=TIMESTAMP}, 
      #{comments,jdbcType=VARCHAR}, sysdate, #{createUser,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sujianan.bean.util.Bill">
    insert into T_BILL
    <trim prefix="(" suffix=")" suffixOverrides=",">
        ID,
      <if test="userid != null">
        USERID,
      </if>
      <if test="budgetType != null">
        BUDGET_TYPE,
      </if>
      <if test="reasonType != null">
        REASON_TYPE,
      </if>
      <if test="money != null">
        MONEY,
      </if>
      <if test="eventTime != null">
        EVENT_TIME,
      </if>
      <if test="comments != null">
        COMMENTS,
      </if>
        CREATE_TIME,
      <if test="createUser != null">
        CREATE_USER,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        sequence_t_bill_id.nextval,
      </if>
      <if test="userid != null">
        #{userid,jdbcType=DECIMAL},
      </if>
      <if test="budgetType != null">
        #{budgetType,jdbcType=VARCHAR},
      </if>
      <if test="reasonType != null">
        #{reasonType,jdbcType=VARCHAR},
      </if>
      <if test="money != null">
        #{money,jdbcType=DECIMAL},
      </if>
      <if test="eventTime != null">
        #{eventTime,jdbcType=TIMESTAMP},
      </if>
      <if test="comments != null">
        #{comments,jdbcType=VARCHAR},
      </if>
      sysdate,
      <if test="createUser != null">
        #{createUser,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sujianan.bean.util.BillExample" resultType="java.lang.Long">
    select count(*) from T_BILL
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update T_BILL
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=DECIMAL},
      </if>
      <if test="record.userid != null">
        USERID = #{record.userid,jdbcType=DECIMAL},
      </if>
      <if test="record.budgetType != null">
        BUDGET_TYPE = #{record.budgetType,jdbcType=VARCHAR},
      </if>
      <if test="record.reasonType != null">
        REASON_TYPE = #{record.reasonType,jdbcType=VARCHAR},
      </if>
      <if test="record.money != null">
        MONEY = #{record.money,jdbcType=DECIMAL},
      </if>
      <if test="record.eventTime != null">
        EVENT_TIME = #{record.eventTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.comments != null">
        COMMENTS = #{record.comments,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createUser != null">
        CREATE_USER = #{record.createUser,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update T_BILL
    set ID = #{record.id,jdbcType=DECIMAL},
      USERID = #{record.userid,jdbcType=DECIMAL},
      BUDGET_TYPE = #{record.budgetType,jdbcType=VARCHAR},
      REASON_TYPE = #{record.reasonType,jdbcType=VARCHAR},
      MONEY = #{record.money,jdbcType=DECIMAL},
      EVENT_TIME = #{record.eventTime,jdbcType=TIMESTAMP},
      COMMENTS = #{record.comments,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      CREATE_USER = #{record.createUser,jdbcType=DECIMAL}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sujianan.bean.util.Bill">
    update T_BILL
    <set>
      <if test="userid != null">
        USERID = #{userid,jdbcType=DECIMAL},
      </if>
      <if test="budgetType != null">
        BUDGET_TYPE = #{budgetType,jdbcType=VARCHAR},
      </if>
      <if test="reasonType != null">
        REASON_TYPE = #{reasonType,jdbcType=VARCHAR},
      </if>
      <if test="money != null">
        MONEY = #{money,jdbcType=DECIMAL},
      </if>
      <if test="eventTime != null">
        EVENT_TIME = #{eventTime,jdbcType=TIMESTAMP},
      </if>
      <if test="comments != null">
        COMMENTS = #{comments,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        CREATE_USER = #{createUser,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sujianan.bean.util.Bill">
    update T_BILL
    set USERID = #{userid,jdbcType=DECIMAL},
      BUDGET_TYPE = #{budgetType,jdbcType=VARCHAR},
      REASON_TYPE = #{reasonType,jdbcType=VARCHAR},
      MONEY = #{money,jdbcType=DECIMAL},
      EVENT_TIME = #{eventTime,jdbcType=TIMESTAMP},
      COMMENTS = #{comments,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      CREATE_USER = #{createUser,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=DECIMAL}
  </update>

	<!-- 根据用户id查询关联的账单历史list -->
	<select id="selectListByUserIDAndBill" resultType="com.sujianan.bean.util.Bill" parameterType="map">
		select 
		tb.ID, tb.USERID, tdd1.data_name AS BUDGET_TYPE, tdd2.data_name AS REASON_TYPE, tb.MONEY, tb.EVENT_TIME, tb.COMMENTS, tb.CREATE_TIME, tb.CREATE_USER
		from t_bill tb
		left join t_data_dictionary tdd1 on tb.budget_type = tdd1.data_code 
		left join t_data_dictionary tdd2 on tb.reason_type = tdd2.data_code 
		<where>
			USERID = #{id, jdbcType=INTEGER}
			<if test=' bill != null and bill.budgetType != null '>
				and budget_type = #{bill.budgetType, jdbcType=VARCHAR}
			</if>
			<if test=' bill != null and bill.reasonType != null '>
				and reason_type = #{bill.reasonType, jdbcType=VARCHAR}
			</if>
			
		</where>
	</select>

</mapper>