<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<script type="text/javascript" src="/static/common.js"></script>
<script type="text/javascript"
	src="/static/js/system/dictionaryConfig.js"></script>

<script type="text/javascript">
	$(document).ready(function() {
		getMenuTreeLoadDom();
	});
</script>
<title>数据字典配置</title>
</head>
<body class="layui-layout-body">
	<div class="layui-layout layui-layout-admin">
		<div class="layui-header">
			<div class="layui-logo">
				<i class="layui-icon layui-icon-home" style="font-size: 20px; color: #1E9FFF;"></i>
				<a href='/'>sujianan.cn</a>
			</div>
			<ul class="layui-nav layui-layout-left">
				<li class="layui-nav-item">
					<form class="layui-form" action="" lay-filter="">
						<input type="checkbox" name="close" lay-skin="switch" lay-text="菜单开|菜单关" lay-filter="menu_form" >
					</form>
				</li>
			</ul>
			<ul class="layui-nav layui-layout-right" id="menu_top_right_ul">
			</ul>
		</div>
		<div class="layui-side layui-bg-black layui-bg-black2" id="menu_left">
			<div class="layui-side-scroll layui-bg-black2">
				<ul class='layui-nav layui-nav-tree layui-bg-black2' lay-filter='' id="menu_left_nav_ul">
				</ul>
			</div>
		</div>
		<!-- 内容主体区域 -->
		<div class="layui-body default-background">
			<div style="padding: 15px;">
				<div class="bigDiv">
					<div id="divDictinaryConfig" class="bigDiv_leftDiv"></div>
					<div class="bigDiv_rightDiv">
						<div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
						<ul class="layui-tab-title">
							<li class="layui-this">新增</li>
							<li>修改</li>
							<li>删除</li>
						</ul>
						<div class="layui-tab-content" style="height: 100px;">
							<div class="layui-tab-item layui-show">
								<form class="layui-form" action="">
									<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
										<legend>当前选择</legend>
									</fieldset>
									<div class="layui-form-item">
										<label class="layui-form-label">code</label>
										<div class="layui-input-block">
											<input id="add_code" name="code" type="text" class="layui-input" disabled />
										</div>
									</div>
									<div class="layui-form-item">
										<label class="layui-form-label">name</label>
										<div class="layui-input-block">
											<input id="add_name" name="name" type="text" class="layui-input" disabled />
										</div>
									</div>
									<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
										<legend>新增数据字典信息</legend>
									</fieldset>
									<div class="layui-form-item">
										<label class="layui-form-label">code</label>
										<div class="layui-input-block">
											<input id="new_code" name="newcode" type="text" class="layui-input" />
										</div>
									</div>
									<div class="layui-form-item">
										<label class="layui-form-label">name</label>
										<div class="layui-input-block">
											<input id="new_name" name="newname" type="text" class="layui-input" />
										</div>
									</div>
									<div class="layui-form-item">
										<div class="layui-input-block">
											<span class="layui-btn" onclick="commitAddOrUpdateOrDeleteDictionary('insert');">新增</span>
										</div>
									</div>
									<div>
										</br> </br> </br> </br> </br>
									</div>
								</form>
							</div>
							<div class="layui-tab-item">
								<form class="layui-form" action="">
									<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
										<legend>修改数据字典</legend>
									</fieldset>
									<div class="layui-form-item">
										<label class="layui-form-label">code</label>
										<div class="layui-input-block">
											<input id="update_code" name="update_code" type="text" class="layui-input" />
										</div>
									</div>
									<div class="layui-form-item">
										<label class="layui-form-label">name</label>
										<div class="layui-input-block">
											<input id="update_name" name="update_name" type="text" class="layui-input" />
										</div>
									</div>
									<div class="layui-form-item">
										<div class="layui-input-block">
											<span class="layui-btn" onclick="commitAddOrUpdateOrDeleteDictionary('update');">修改</span>
										</div>
									</div>
									<div>
										</br> </br> </br> </br> </br>
									</div>
								</form>
							</div>
							<div class="layui-tab-item">
								<form class="layui-form" action="">
									<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
										<legend>删除数据字典</legend>
									</fieldset>
									<div class="layui-form-item">
										<label class="layui-form-label">code</label>
										<div class="layui-input-block">
											<input id="delete_code" name="update_code" type="text" class="layui-input" disabled />
										</div>
									</div>
									<div class="layui-form-item">
										<label class="layui-form-label">name</label>
										<div class="layui-input-block">
											<input id="delete_name" name="update_name" type="text" class="layui-input" disabled />
										</div>
									</div>
									<div class="layui-form-item">
										<div class="layui-input-block">
											<span class="layui-btn" onclick="commitAddOrUpdateOrDeleteDictionary('delete');">删除</span>
										</div>
									</div>
									<div>
										</br> </br> </br> </br> </br>
									</div>
								</form>
							</div>
						</div>
					</div>
					</div>
				</div>
			</div>
		</div>
		<!-- 底部固定区域 -->
		<div class="layui-footer">
			<p style="text-align: center;">Copyright ©2019 sujianan.cn All Rights Reserved.</p>
		</div>
	</div>
</body>
</html>