<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<script type="text/javascript" src="/static/common.js"></script>
<script type="text/javascript"
	src="/static/js/system/dictionaryConfig.js"></script>

<script type="text/javascript">
	$(document).ready(function() {
		$('#indexhead').load('/head.html', function() {
			loadUser();
		});
		$('#indexfoot').load('/foot.html');
	});
	loadMenuTree();
</script>
<title>数据字典配置</title>
</head>
<body>
	<div id="indexhead"></div>
	<div>
		<div class="bigDiv">
			<div id="divDictinaryConfig" class="bigDiv_leftDiv"></div>
			<div class="bigDiv_rightDiv">

				<div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
					<ul class="layui-tab-title">
						<li class="layui-this">新增</li>
						<li>修改</li>
						<li>删除</li>
					</ul>
					<div class="layui-tab-content" style="height: 100px;">
						<div class="layui-tab-item layui-show">

							<form class="layui-form" action="">
								<fieldset class="layui-elem-field layui-field-title"
									style="margin-top: 20px;">
									<legend>当前选择</legend>
								</fieldset>
								<div class="layui-form-item">
									<label class="layui-form-label">code</label>
									<div class="layui-input-block">
										<input id="add_code" name="code" type="text"
											class="layui-input" disabled />
									</div>
								</div>
								<div class="layui-form-item">
									<label class="layui-form-label">name</label>
									<div class="layui-input-block">
										<input id="add_name" name="name" type="text"
											class="layui-input" disabled />
									</div>
								</div>
								<fieldset class="layui-elem-field layui-field-title"
									style="margin-top: 20px;">
									<legend>新增数据字典信息</legend>
								</fieldset>
								<div class="layui-form-item">
									<label class="layui-form-label">code</label>
									<div class="layui-input-block">
										<input id="new_code" name="newcode" type="text"
											class="layui-input" />
									</div>
								</div>
								<div class="layui-form-item">
									<label class="layui-form-label">name</label>
									<div class="layui-input-block">
										<input id="new_name" name="newname" type="text"
											class="layui-input" />
									</div>
								</div>
								<div class="layui-form-item">
									<div class="layui-input-block">
										<span class="layui-btn" lay-click="commitAddDictionary">新增</span>
									</div>
								</div>
								<div>
									</br> </br> </br> </br> </br>
								</div>
							</form>

						</div>

						<div class="layui-tab-item">

							<form class="layui-form" action="">
								<fieldset class="layui-elem-field layui-field-title"
									style="margin-top: 20px;">
									<legend>修改数据字典</legend>
								</fieldset>
								<div class="layui-form-item">
									<label class="layui-form-label">code</label>
									<div class="layui-input-block">
										<input id="update_code" name="update_code" type="text"
											class="layui-input" />
									</div>
								</div>
								<div class="layui-form-item">
									<label class="layui-form-label">name</label>
									<div class="layui-input-block">
										<input id="update_name" name="update_name" type="text"
											class="layui-input" />
									</div>
								</div>
								<div class="layui-form-item">
									<div class="layui-input-block">
										<span class="layui-btn" lay-click="commitUpdateDictionary">修改</span>
									</div>
								</div>
								<div>
									</br> </br> </br> </br> </br>
								</div>
							</form>

						</div>

						<div class="layui-tab-item">

							<form class="layui-form" action="">
								<fieldset class="layui-elem-field layui-field-title"
									style="margin-top: 20px;">
									<legend>删除数据字典</legend>
								</fieldset>
								<div class="layui-form-item">
									<label class="layui-form-label">code</label>
									<div class="layui-input-block">
										<input id="delete_code" name="update_code" type="text"
											class="layui-input" disabled />
									</div>
								</div>
								<div class="layui-form-item">
									<label class="layui-form-label">name</label>
									<div class="layui-input-block">
										<input id="delete_name" name="update_name" type="text"
											class="layui-input" disabled />
									</div>
								</div>
								<div class="layui-form-item">
									<div class="layui-input-block">
										<span class="layui-btn" lay-click="commitDeleteDictionary">删除</span>
									</div>
								</div>
								<div>
									</br> </br> </br> </br> </br>
								</div>
							</form>

						</div>

					</div>
				</div>

			</div>
		</div>
	</div>
	<div id="indexfoot"></div>
</body>
</html>