<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<script type="text/javascript" src="/static/common.js"></script>
<script type="text/javascript" src="/static/js/user/login.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		getMenuTreeLoadDom();
	});
</script>
<title>登录</title>
</head>
<body class="layui-layout-body">
	<div class="layui-layout layui-layout-admin">
		<div class="layui-header">
			<div class="layui-logo">
				<i class="layui-icon layui-icon-home" style="font-size: 20px; color: #1E9FFF;"></i>
				<a href='/'>sujianan.cn</a>
			</div>
			<ul class="layui-nav layui-layout-left">
				<li class="layui-nav-item">
					<form class="layui-form" action="" lay-filter="">
						<input type="checkbox" lay-skin="switch" lay-text="菜单开|菜单关" lay-filter="menu_form" checked>
					</form>
				</li>
			</ul>
			<ul class="layui-nav layui-layout-right" id="menu_top_right_ul">
			</ul>
		</div>
		<div class="layui-side layui-bg-black layui-bg-black2" id="menu_left">
			<div class="layui-side-scroll layui-bg-black2">
				<ul class='layui-nav layui-nav-tree layui-bg-black2' lay-filter='' id="menu_left_nav_ul">
				</ul>
			</div>
		</div>
		<!-- 内容主体区域 -->
		<div class="layui-body default-background">
			<div style="padding: 15px;">
				<form class="layui-form layui-form-pane" action="#">
					<div class="layui-row">
						<div class="layui-col-xs6 layui-col-xs-offset3 layui-col-md6 layui-col-md-offset3">
							<div class="layui-form-item">
								<label class="layui-form-label">用户名</label>
								<div class="layui-input-block">
									<input type="text" id="inputUsername" class="layui-input">
								</div>
							</div>
						</div>
					</div>
					<div class="layui-row">
						<div
							class="layui-col-xs6 layui-col-xs-offset3 layui-col-md6 layui-col-md-offset3">
							<div class="layui-form-item">
								<label class="layui-form-label">密码</label>
								<div class="layui-input-block">
									<input type="password" id="inputPassword" class="layui-input">
								</div>
							</div>
						</div>
					</div>
					<div class="layui-row">
						<div
							class="layui-col-xs3 layui-col-xs-offset3 layui-col-md3 layui-col-md-offset3">
							<div class="layui-form-item">
								<label class="layui-form-label">验证码</label>
								<div class="layui-input-block">
									<input type="text" id="authCodeInput" class="layui-input">
								</div>
							</div>
						</div>
						<div class="layui-col-xs3 layui-col-md3">
							<img id="authCode" class="dropdown" alt="验证码"
								src="/system/basic/getAuthCode.go" onclick="getAuthCode();">
							<a onclick="getAuthCode();">看不清楚</a>
						</div>
					</div>
				</form>
				<div class="layui-row">
					<div class="layui-col-xs1 layui-col-xs-offset5 layui-col-md1 layui-col-md-offset5">
						<div class="layui-form-item">
							<button class="layui-btn layui-btn-normal layui-btn-radius"
								onclick="login();">登录</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- 底部固定区域 -->
		<div class="layui-footer">
			<p style="text-align: center;">Copyright ©2019 sujianan.cn All Rights Reserved.</p>
		</div>
	</div>
</body>
</html>