<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<script type="text/javascript" src="/static/common.js"></script>
<script type="text/javascript"
	src="/static/js/user/personal_information.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		getMenuTreeLoadDom();
		loadUserDate();
	});
</script>
<title>用户信息</title>
</head>
<body class="layui-layout-body">
	<div class="layui-layout layui-layout-admin">
		<div class="layui-header">
			<div class="layui-logo">
				<i class="layui-icon layui-icon-home" style="font-size: 20px; color: #1E9FFF;"></i>
				<a href='/'>sujianan.cn</a>
			</div>
			<ul class="layui-nav layui-layout-left">
				<li class="layui-nav-item">
					<form class="layui-form" action="" lay-filter="">
						<input type="checkbox" name="close" lay-skin="switch" lay-text="菜单开|菜单关" lay-filter="menu_form" >
					</form>
				</li>
			</ul>
			<ul class="layui-nav layui-layout-right" id="menu_top_right_ul">
			</ul>
		</div>
		<div class="layui-side layui-bg-black layui-bg-black2" id="menu_left">
			<div class="layui-side-scroll layui-bg-black2">
				<ul class='layui-nav layui-nav-tree layui-bg-black2' lay-filter='' id="menu_left_nav_ul">
				</ul>
			</div>
		</div>
		<!-- 内容主体区域 -->
		<div class="layui-body default-background">
			<div style="padding: 15px;">
				<form class="form-horizontal">
					<div class="form-group">
						<label class="col-sm-2 control-label">用户名</label>
						<div class="col-sm-10">
							<input id="loginName" class="form-control" type="text"
								disabled="disabled">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">网名</label>
						<div class="col-sm-10">
							<input id="netName" class="form-control" type="text"
								disabled="disabled">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">创建时间</label>
						<div class="col-sm-10">
							<input id="createTime" class="form-control" type="text"
								disabled="disabled">
						</div>
					</div>
				</form>
			</div>
		</div>
		<!-- 底部固定区域 -->
		<div class="layui-footer">
			<p style="text-align: center;">Copyright ©2019 sujianan.cn All Rights Reserved.</p>
		</div>
	</div>
</body>
</html>