<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<script type="text/javascript" src="/static/common.js"></script>
<script type="text/javascript" src="/static/js/user/register.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		getMenuTreeLoadDom();
		form.render('select');
	});
</script>
<title>注册</title>
</head>
<body class="layui-layout-body">
	<div class="layui-layout layui-layout-admin">
		<div class="layui-header">
			<div class="layui-logo">
				<i class="layui-icon layui-icon-home" style="font-size: 20px; color: #1E9FFF;"></i>
				<a href='/'>sujianan.cn</a>
			</div>
			<ul class="layui-nav layui-layout-left">
				<li class="layui-nav-item">
					<form class="layui-form" action="" lay-filter="">
						<input type="checkbox" lay-skin="switch" lay-text="菜单开|菜单关" lay-filter="menu_form" checked>
					</form>
				</li>
			</ul>
			<ul class="layui-nav layui-layout-right" id="menu_top_right_ul">
			</ul>
		</div>
		<div class="layui-side layui-bg-black layui-bg-black2" id="menu_left">
			<div class="layui-side-scroll layui-bg-black2">
				<ul class='layui-nav layui-nav-tree layui-bg-black2' lay-filter='' id="menu_left_nav_ul">
				</ul>
			</div>
		</div>
		<!-- 内容主体区域 -->
		<div class="layui-body default-background">
			<div style="padding: 15px;">
				<form class="layui-form layui-form-pane" action="#">
					<div class="layui-row">
						<div class="layui-col-xs6 layui-col-xs-offset3 layui-col-md6 layui-col-md-offset3">
							<div class="layui-form-item">
								<label class="layui-form-label">用户名</label>
								<div class="layui-input-block">
									<input type="text" id="loginName" autocomplete="off" class="layui-input"
									placeholder="请输入4位-10位英文与数字，以英文开头" 
									lay-verify="required" lay-reqtext="用户名是必填项，岂能为空？"
									onKeyUp="value = value.replace(/[^a-z0-9]|^[^a-z]/ig,'');checkout('loginName');">
								</div>
							</div>
						</div>
						<div class="layui-col-xs1 layui-col-md1">
							<span class="mustFillIn">*</span> 
							<i id="loginNameText" style="font-size: 14px;"></i>
						</div>
					</div>

					<div class="layui-row">
						<div class="layui-col-xs6 layui-col-xs-offset3 layui-col-md6 layui-col-md-offset3">
							<div class="layui-form-item">
								<label class="layui-form-label">密码</label>
								<div class="layui-input-block">
									<input type="text" id="loginPassword" lay-verify="required"
										lay-reqtext="密码也是必填项，同样不能为空!" autocomplete="off"
										class="layui-input" placeholder="8-16位,英文数字字符任意组合"
										onkeyup="checkout('loginPassword');">
								</div>
							</div>
						</div>
						<div class="layui-col-xs1 layui-col-md1">
							<span class="mustFillIn">*</span> <i id="loginPasswordText" style="font-size: 14px;"></i>
						</div>
					</div>

					<div class="layui-row">
						<div class="layui-col-xs6 layui-col-xs-offset3 layui-col-md6 layui-col-md-offset3">
							<div class="layui-form-item">
								<label class="layui-form-label">确认密码</label>
								<div class="layui-input-block">
									<input type="text" id="loginPasswordAffirm"
										lay-verify="required" lay-reqtext="密码也是必填项，同样不能为空!"
										autocomplete="off" class="layui-input"
										placeholder="8-16位,英文数字字符任意组合"
										onkeyup="checkout('loginPasswordAffirm');">
								</div>
							</div>
						</div>
						<div class="layui-col-xs1 layui-col-md1">
							<span class="mustFillIn">*</span> 
							<span id="loginPasswordAffirmText" style="font-size: 14px;"></span>
						</div>
					</div>

					<div class="layui-row">
						<div class="layui-col-xs6 layui-col-xs-offset3 layui-col-md6 layui-col-md-offset3">
							<div class="layui-form-item">
								<label class="layui-form-label">网名</label>
								<div class="layui-input-block">
									<input type="text" id="netName" lay-verify="required"
										lay-reqtext="人在江湖,你总得有个名儿吧." autocomplete="off"
										class="layui-input" placeholder="1-16位"
										onkeyup="checkout('netName');">
								</div>
							</div>
						</div>
						<div class="layui-col-xs1 layui-col-md1">
							<span class="mustFillIn">*</span>
							<span id="netNameText" style="font-size: 14px;"></span>
						</div>
					</div>

					<div class="layui-row">
						<div class="layui-col-xs6 layui-col-xs-offset3 layui-col-md6 layui-col-md-offset3">
							<div class="layui-form-item" pane="">
								<label class="layui-form-label">性别</label>
								<div class="layui-input-block">
									<select id="gender">
										<option value="-1">请选择性别</option>
										<option value="1">男</option>
										<option value="0">女</option>
									</select>
								</div>

							</div>
						</div>
						<div class="layui-col-xs1 layui-col-md1">
							<span class="mustFillIn">*</span>
						</div>
					</div>

					<div class="layui-row">
						<div class="layui-col-xs6 layui-col-xs-offset3 layui-col-md6 layui-col-md-offset3">
							<div class="layui-form-item">
								<label class="layui-form-label">电话</label>
								<div class="layui-input-block">
									<input type="text" id="phone" class="layui-input" placeholder="11位" onkeyup="checkout('phone');">
								</div>
							</div>
						</div>
						<div class="layui-col-xs1 layui-col-md1">
							<span class="mustFillIn">*</span> 
							<span id="phoneText" style="font-size: 14px;"></span>
						</div>
					</div>

					<div class="layui-row">
						<div class="layui-col-xs6 layui-col-xs-offset3 layui-col-md6 layui-col-md-offset3">
							<div class="layui-form-item">
								<label class="layui-form-label">邮箱</label>
								<div class="layui-input-block">
									<input type="text" id="email" class="layui-input"
										placeholder="例如:  zhangsan@163.com"
										onkeyup="checkout('email');">
								</div>
							</div>
						</div>
						<div class="layui-col-xs1 layui-col-md1">
							<span class="mustFillIn">*</span> 
							<span id="emailText" style="font-size: 14px;"></span>
						</div>
					</div>

				</form>
				<div class="layui-row">
					<div class="layui-col-xs1 layui-col-xs-offset6 layui-col-md1 layui-col-md-offset6">
						<button class="layui-btn layui-btn-normal layui-btn-radius" onclick="register();">注册</button>
					</div>
				</div>
			</div>
		</div>
		<!-- 底部固定区域 -->
		<div class="layui-footer">
			<p style="text-align: center;">Copyright ©2019 sujianan.cn All Rights Reserved.</p>
		</div>
	</div>
</body>
</html>