<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<script type="text/javascript" src="/static/common.js"></script>
<script type="text/javascript" src="/static/js/user/register.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$('#indexhead').load('/head.html', function() {
			loadUser();
		});
		$('#indexfoot').load('/foot.html');
	});
</script>
<title>用户信息修改</title>
</head>
<body>
	<div id="indexhead"></div>

	<div id="indexfoot"></div>
</body>
</html>