<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<script type="text/javascript" src="/static/common.js"></script>
<script type="text/javascript" src="/static/js/blog/blog_upload.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		getMenuTreeLoadDom();
		getBlogTypeOne();
	});
</script>
<title>博客上传</title>
</head>
<body class="layui-layout-body">
	<div class="layui-layout layui-layout-admin">
		<div class="layui-header">
			<div class="layui-logo">
				<i class="layui-icon layui-icon-home" style="font-size: 20px; color: #1E9FFF;"></i>
				<a href='/'>sujianan.cn</a>
			</div>
			<ul class="layui-nav layui-layout-left">
				<li class="layui-nav-item">
					<form class="layui-form" action="" lay-filter="">
						<input type="checkbox" name="close" lay-skin="switch" lay-text="菜单开|菜单关" lay-filter="menu_form" >
					</form>
				</li>
			</ul>
			<ul class="layui-nav layui-layout-right" id="menu_top_right_ul">
			</ul>
		</div>
		<div class="layui-side layui-bg-black layui-bg-black2" id="menu_left">
			<div class="layui-side-scroll layui-bg-black2">
				<ul class='layui-nav layui-nav-tree layui-bg-black2' lay-filter='' id="menu_left_nav_ul">
				</ul>
			</div>
		</div>
		<!-- 内容主体区域 -->
		<div class="layui-body default-background">
			<div style="padding: 15px;">
			
				<form class="layui-form layui-form-pane" action="#">
					
					<div class="layui-row">
						<div class="layui-col-xs3 layui-col-xs-offset3 layui-col-md3 layui-col-md-offset3">
							<div class="layui-form-item">
								<label class="layui-form-label">博客类别</label>
								<div class="layui-input-block">
									<select id="blog_type_one" name="interest" lay-filter="blog_type_one" onchange="getBlogTypeTwo();">
								    </select>
								</div>
							</div>
						</div>
						<div class="layui-col-xs3 layui-col-md3">
							<div class="layui-form-item">
								<div class="layui-input-block">
									<select id="blog_type_two" name="interest" lay-filter="">
								    </select>
								</div>
							</div>
						</div>
					</div>
					
					<div class="layui-row">
						<div class="layui-col-xs6 layui-col-xs-offset3 layui-col-md6 layui-col-md-offset3">
							<div class="layui-form-item">
							<label class="layui-form-label">文件选择</label>
								<div class="layui-input-block">
									<input id="file" name="file" type="file" />
								</div>
							</div>
						</div>
					</div>
					
					<div class="layui-row">
						<div class="layui-col-xs6 layui-col-xs-offset3 layui-col-md6 layui-col-md-offset3">
							<div class="layui-form-item">
								<label class="layui-form-label">文章标题</label>
								<div class="layui-input-block">
									<input id="blog_title" type="text" class="layui-input">
								</div>
							</div>
						</div>
					</div>
					
				</form>
				<div class="layui-row">
					<div class="layui-col-xs6 layui-col-xs-offset6 layui-col-md6 layui-col-md-offset6">
						<div class="layui-form-item">
							<button type="button" class="btn btn-default" onclick="blogUpload();">上传</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- 底部固定区域 -->
		<div class="layui-footer">
			<p style="text-align: center;">Copyright ©2019 sujianan.cn All Rights Reserved.</p>
		</div>
	</div>
</body>
		<!-- 省市区二级联动下拉选 -->
		<!-- <div class="form-group">
					<label class="col-sm-3 control-label">地区选择</label>
					<div class="input-group col-sm-8 ">
						<span class="input-group-addon">省:</span> 
						<select id="province" class="form-control" onchange="getCity();"> </select> 
						<span class="input-group-addon">市:</span> 
						<select id="city" class="form-control" onchange="getArea();"> </select>
						<span class="input-group-addon">区县:</span>
						<select id="area" class="form-control"> </select>
					</div>
				</div> -->
</html>