<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<script type="text/javascript" src="/static/common.js"></script>
<script type="text/javascript" src="/static/js/blog/blog_list.js"></script>
<title>blog list</title>
</head>
<body>
	<div id="indexhead"></div>
	<div>
		<div class="table-responsive default_head_padding">
			<table class="table table-hover table-striped"
				style="background-color: #ffffff;">
				<tr>
					<td><span>检索条件</span> <span class="glyphicon glyphicon-search"></span>
					</td>
					<td class="retrieval_style"><span>类型</span> <span
						class="glyphicon glyphicon-list"></span> <select id="blog_type"
						onchange="getBlogs(this.value);"></select></td>
					<!-- <td>
						<span>作者</span>
						<span class="glyphicon glyphicon-user"></span>
						<select id="blog_author" onchange="getBlogs(this.value);"></select>
					</td> -->
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</table>
			<table class="layui-hide" id="blog_list"></table>
		</div>
	</div>
	<div id="indexfoot"></div>
</body>
<script type="text/javascript">
	$(document).ready(function() {
		$('#indexhead').load('/head.html', function() {
			loadUser();
		});
		$('#indexfoot').load('/foot.html');
	});
</script>
<script type="text/html" id="barDemo">
<a class="layui-btn layui-btn-xs" lay-event="detail">查看</a>
<a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
</html>