<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<script type="text/javascript" src="/static/common.js"></script>
<script type="text/javascript" src="/static/js/blog/blog_upload.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		getMenuTreeLoadDom();
		getBlogTypeOne();
	});
</script>
<title>博客上传</title>
</head>
<body class="layui-layout-body">
	<div class="layui-layout layui-layout-admin">
		<div class="layui-header">
			<div class="layui-logo">
				<i class="layui-icon layui-icon-home" style="font-size: 20px; color: #1E9FFF;"></i>
				<a href='/'>sujianan.cn</a>
			</div>
			<ul class="layui-nav layui-layout-left">
				<li class="layui-nav-item">
					<button type="button" class="layui-btn layui-btn-sm layui-btn-radius" onclick="showMenuOrHide();">菜单隐藏/显示</button>
				</li>
			</ul>
			<ul class="layui-nav layui-layout-right" id="menu_top_right_ul">
			</ul>
		</div>
		<div class="layui-side layui-bg-black layui-bg-black2" id="menu_left">
			<div class="layui-side-scroll layui-bg-black2">
				<ul class='layui-nav layui-nav-tree layui-bg-black2' lay-filter='' id="menu_left_nav_ul">
				</ul>
			</div>
		</div>
		<!-- 内容主体区域 -->
		<div class="layui-body">
			<div style="padding: 15px;">
				<table class="table table-hover " style="background-color: #ffffff;">
					<thead id="blog_upload_thead">
						<tr>
							<th></th>
							<th></th>
							<th></th>
							<th></th>
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody id="blog_upload_tbady">
						<tr>
							<td colspan="1" rowspan="1">
								<label class="control-label">博客类别</label>
							</td>
							<td colspan="3" rowspan="1">
								<select id="blog_type_one" class="form-control" onchange="getBlogTypeTwo();"> </select>
							</td>
							<td colspan="2" rowspan="1">
								<select id="blog_type_two" class="form-control"> </select>
							</td>
						</tr>
						<tr>
							<td colspan="1" rowspan="1"><label class="control-label">文件选择</label></td>
							<td colspan="5" rowspan="1"><input id="file" name="file" type="file" /></td>
						</tr>
						<tr>
							<td colspan="1" rowspan="1"><label class="control-label">文章标题</label></td>
							<td colspan="5" rowspan="1"><input id="blog_title" name="blog_title" class="form-control" type="text" /></td>
						</tr>
					</tbody>
					<tfoot id="blog_upload_tfoot">
						<tr>
							<td colspan="6" rowspan="1" align="center">
								<button type="button" class="btn btn-default" onclick="blogUpload();">上传</button>
							</td>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
		<!-- 底部固定区域 -->
		<div class="layui-footer">
			<p style="text-align: center;">Copyright ©2019 sujianan.cn All Rights Reserved.</p>
		</div>
	</div>
</body>
		<!-- 省市区二级联动下拉选 -->
		<!-- <div class="form-group">
					<label class="col-sm-3 control-label">地区选择</label>
					<div class="input-group col-sm-8 ">
						<span class="input-group-addon">省:</span> 
						<select id="province" class="form-control" onchange="getCity();"> </select> 
						<span class="input-group-addon">市:</span> 
						<select id="city" class="form-control" onchange="getArea();"> </select>
						<span class="input-group-addon">区县:</span>
						<select id="area" class="form-control"> </select>
					</div>
				</div> -->
</html>